/* */

html {
    background-color: yellow;
}


#name {
    text-align: center;
    color: blue;
    font-family: Work Sans

}

#image {
    width: 40%;
    display: block;
    margin: auto;

}

p {
    padding: 20px;
    font-family: Work Sans
}

ul {
    font-family: Work Sans
}